#f_print {
    position: relative;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    left: -108px;
    top: -10px;
    background-color: transparent;
}

#mic {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: transparent;
    left: -106px;
    top: -19px;
    border: none;
}

#correct_name {
    position: relative;
    width: 132px;
    height: 34px;
    background-color: transparent;
    left: -142px;
    top: -50px;
    border: none;
}

#wrong_name {
    position: relative;
    width: 132px;
    height: 34px;
    background-color: transparent;
    left: -278px;
    top: -11px;
    border: none;
}



.background {
    position: relative;
}

.main_image {
    position: relative;
}

.left {
    position: absolute;
    top: 64px;
    left: 2px;
}

.right {
    position: absolute;
    top: 64px;
    left: 129px;
}

#settings_button {
    position: relative;
    left: -34px;
}

#pause_button {
    position: relative;
    height: 29px;
    width: 29px;
    left: -182px;
    top: -4px;
    background-color: transparent;
    border: none;
}

#play_button {
    position: relative;
    height: 29px;
    width: 29px;
    left: -148px;
    top: -4px;
    background-color: transparent;
    border: none;
}

.bars_container {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 27px;

}

.bar1 {
    height: 15px;
    width: 50px;
    background-color: #66CD00;
    position: absolute;
}

.bar2 {
    height: 15px;
    width: 100px;
    background-color: #78AB46;
    position: absolute;
    top: 25px;
}

.bar3 {
    height: 15px;
    width: 80px;
    background-color: #458B00;
    position: absolute;
    top: 50px;
}

.bar4 {
    height: 15px;
    width: 90px;
    background-color: #4A7023;
    position: absolute;
    top: 75px;
}

.bar_descrip {
    font-size: 10px;
    margin: 0px;
    float: left;
    position: absolute;
}

.bar_val {
    font-size: 10px;
    margin: 0px;
    float: right;
    position: absolute;
}

.bar1 .bar_val {
    left: 30px;
}

.bar2 .bar_val {
    left: 43px;
}

.bar3 .bar_val {
    left: 48px;
}

.bar4 .bar_val {
    left: 34px;
}



#count_container {
    font-size: 28px;
    position: absolute;
    top: 23px;
    left: 65px;
}

#count {
    color: #4A7023;
}


#volume_p {
    position: relative;
    display: none;
}
#speed_p {
    position: relative;
    display: none;
}

#pop_up_cont {
    width: 144px;
    display: none;
    position: relative;
    top: -172px;
}

#exit {
    -webkit-appearance: none;
    height: 19px;
    width: 16px;
    position: relative;
    top: -143px;
    left: 123px;
    background-color: transparent;
    color:none;
    border: none;
    cursor: pointer;
}